Repository Countly/countly-sdk-documentation, pull requests merged in 2023-11, with the labels that each got.

#429 [Doc, deeper look] acquire public key cert needs example, problems re…
  a_deeper_look_at_sdk_concepts/current.md
Labels: Advanced SDK

#433 Proof reading
  a_deeper_look_at_sdk_concepts/current.md
Labels: Fix, Advanced SDK

#432 [Web] Feedback Segmentation
  web/current.md
  web/next.md
Labels: SDK

#434 [Java, Doc] update device id management calls
  java/next.md
Labels: SDK

#435 Moved Device ID sections from SDK Integration to Device ID Management
  android/next.md
  cpp/next.md
  flutter/next.md
  ios/next.md
  unity/next.md
Labels: SDK, Structure

#367 SDK Health Checks
  sdk_dev_guide/curent.md
Labels: SDK Guide
