Repository Countly/countly-sdk-documentation, pull requests merged in 2024-04, with the labels that each got.

#283 SDK Integration to Servers
  getting_started/current.md
Labels: Getting Started, FAQ

#629 [SC] Internal Limits
  test_scenarios/sc-IL-intenalLimits.md
Labels: Test Scenario

#634 [Dev] Log Level Examples
  sdk_dev_guide/current.md
Labels: SDK Guide

#635 [Dev] Events intro revamp
  sdk_dev_guide/current.md
Labels: SDK Guide

#639 [RN] APM interface
  react_native_bridged/next.md
Labels: SDK

#638 [Android] Hybrid manual session mode doc
  android/next.md
Labels: SDK
